.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1024px;
  max-width: 1180px;
  animation: fadeIn ease 1s;
}

.header {
	align-self: center;
  text-transform: uppercase;
  margin: 20px 0;
}

.input {
	font-size: 20px;
  height: 24px;
  width: 800px;
  max-width: 1024px;
}

.button {
  align-self: center;
	margin-top: 20px;
  font-size: 24px;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
