.resultItem__container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #2d3834;
  border: 1px solid #475a53;
  z-index: -1;
}

.resultItem__container:hover {
  background-color: #475a53;
}

.resultItem__title {
  font-weight: bold;
}

.resultItem__authorAndAndswers {
	display: flex;
	justify-content: space-between
}

.resultItem__author {
  display: flex;
  
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  font-weight: bold;
  color: #2aa87a
}

p {
  margin: 6px 0;
}
